<html ng-app="app">
	<head>
		<title>clickergame</title>
	</head>
	<body ng-controller="ClientController">
		{{socket.id}}(You):<br>
		Coins: {{me.coins}}<br>
		Coins per second: {{me.truecps || me.cps}} <br>
		Started at tick: {{me.joined_at}}
		<div ng-repeat="(key,value) in me.upgrades">
			{{upgrades[key].display_name}}: {{value}}<br>
		</div>
		<br><hr><br>
		<div ng-repeat="(id, data) in upgrades">
			<b>{{data.display_name}}</b><br>
			Cost: {{equate(data.base_cost, data.increase_ratio, me.upgrades[id] ? me.upgrades[id] : 0)}} <br>
			CPS each: {{data.cps}} <br>
			Owned: {{me.upgrades[id] || 0}} <br>
			<button ng-click="upgrade(id)">Purchase {{data.display_name}}</button><label><input type="checkbox" ng-model="auto[id]"> Auto</label><br><br>
			
		</div>
		<br><hr><br>
		<div ng-repeat="(id,data) in users" ng-hide="id == socket.id">
			{{id}}:<br>
			Coins: {{data.coins}}<br>
			Coins per second: {{data.truecps || data.cps}} <br>
			Started at tick: {{data.joined_at}}<br>
			<div ng-repeat="(key,value) in data.upgrades">
				{{upgrades[key].display_name}}: {{value}}
			</div>
			<br>
		</div>
		<script src="../node_modules/angular/angular.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="client.js"></script>
	</body>
</html>